/********************************
Global Styles and UI Components
**********************************/
.navbar {
    /* Optional: Make the navbar background transparent */
    background-color: transparent;

    /* Optional: Move the navbar is positioned over the hero */
    position: absolute;

    /* Optional: Stretch the navbar across the full width */
    width: 100%;

    /* Optional: Add inner spacing to the navbar */
    padding: 1rem;
}

/********************************
Typography
**********************************/
h1,
h2,
h3,
h4,
h5,
h6 {
    /* Optional: Add letter spacing to all headings */
    letter-spacing: -0.05rem;
    /* Optional: Adjust font-weight to all headings */
    font-weight: 700;
}

h2 {
    /* Optional: Adjust font-size of heading 2 */
    font-size: 2rem;
}

div {
    text-align: justify;
  }

footer {
    background-color: var(--bs-primary);
    color: var(--bs-white);
    text-align: middle;
}

footer .footer-social {
    width: 24px;
    margin: .5rem
}

footer-social {
    width: 24px;
    margin: .5rem
}

.hero {
    background: url(../Images/background.png);
    background-size: 10;
    background-position: full;
    color:
        var:black;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
